html {
  scroll-behavior: smooth;
}
body {
  margin: 2rem;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #111;
  font-family: 'Helvetica', sans-serif;
  color: white;
}
