.digital-clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time {
  margin: 0;
  font-size: 8rem;
  font-weight: 900;
}

.date {
  margin: 0;
  font-size: 2rem;
}
